@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Umbraco Sandbox</h1>
    <p class="lead">This is a sandbox to play with the Umbraco open-source CMS.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum dolar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id lectus laoreet, tempor elit id, sagittis lorem. Vestibulum non tellus id nisl fringilla interdum. Suspendisse viverra orci eu justo aliquam.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id lectus laoreet, tempor elit id, sagittis lorem. Vestibulum non tellus id nisl fringilla interdum. Suspendisse viverra orci eu justo aliquam.</p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id lectus laoreet, tempor elit id, sagittis lorem. Vestibulum non tellus id nisl fringilla interdum. Suspendisse viverra orci eu justo aliquam.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>